*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# --- Firebase config (keep local only)
app/google-services.json

# --- API Keys (keep local only)
.env

# --- Miscellaneous IDE/system files
*.log
Thumbs.db
.DS_Store